Repository unitaryfoundation/mitiq, pull requests merged in 2022-01, with the labels that each got.

#1021 ZNE Guide Reorg
  docs/source/examples/maxcut-demo.myst
  docs/source/guide/guide-getting-started.rst
  docs/source/guide/guide-zne.rst
  docs/source/guide/guide.myst
  docs/source/guide/zne-1-intro.myst
  docs/source/guide/zne-2-use-case.myst
  docs/source/guide/zne-3-options.myst
  docs/source/guide/zne-4-low-level.myst
  docs/source/guide/zne-5-theory.myst
  docs/source/guide/zne.myst
  docs/source/img/zne_global_folding.png
  docs/source/img/zne_local_folding.png
  docs/source/img/zne_pulse_stretching.png
  docs/source/refs.bib
Labels: documentation, zne

#1050 Update API doc with REM, executors and observables
  docs/source/apidoc.rst
  mitiq/observable/observable.py
  mitiq/observable/pauli.py
Labels: documentation, observable, executors

#1047 Add asv benchmarking framework
  .coveragerc
  .github/workflows/test.yml
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/benchmarks.py
  docs/source/apidoc.rst
  mitiq/__init__.py
  mitiq/benchmarks/maxcut.py
  mitiq/benchmarks/random_circuits.py
  mitiq/benchmarks/tests/test_mirror_circuits.py
  mitiq/benchmarks/tests/test_random_circuit.py
  mitiq/benchmarks/tests/test_randomized_benchmaking.py
  mitiq/benchmarks/utils.py
  mitiq/pec/tests/test_pec.py
  mitiq/raw/__init__.py
  mitiq/raw/raw.py
  mitiq/raw/tests/test_raw.py
Labels: benchmarks

#1031 [Draft] CDR reorg
  docs/source/apidoc.rst
  docs/source/examples/cdr_api.myst
  docs/source/examples/examples.myst
  docs/source/guide/cdr-1-intro.myst
  docs/source/guide/cdr-3-options.myst
  docs/source/guide/cdr-4-low-level.myst
  docs/source/guide/cdr-5-theory.myst
  docs/source/guide/cdr.myst
  docs/source/guide/guide-cdr.rst
  docs/source/guide/guide-error-mitigation.rst
  docs/source/guide/guide-observables.myst
  docs/source/guide/guide.myst
  docs/source/guide/pec-1-intro.myst
  docs/source/guide/pec-5-theory.myst
  docs/source/guide/zne-2-use-case.myst
  docs/source/refs.bib
  mitiq/cdr/cdr.py
Labels: documentation, cdr
