Repository unitaryfoundation/mitiq, pull requests merged in 2023-09, with the labels that each got.

#1996 Speed up a few tests
  mitiq/calibration/tests/test_calibration.py
  mitiq/pec/tests/test_pec.py
  mitiq/qse/tests/test_qse.py
Labels: tech debt

#1985 Make robust `Calibrator` logging
  dev_requirements.txt
  mitiq/calibration/calibrator.py
  mitiq/calibration/settings.py
  mitiq/calibration/tests/test_calibration.py
  mitiq/calibration/tests/test_settings.py
  requirements.txt
Labels: calibration

#1945 [Classical Shadows 5] Shadows/RShadows tutorial
  AUTHORS
  dev_requirements.txt
  docs/source/_thumbnails/rshadow_protocol.png
  docs/source/_thumbnails/shadow-tutorial.png
  docs/source/conf.py
  docs/source/examples/examples.md
  docs/source/examples/rshadows_tutorial.md
  docs/source/examples/shadows_tutorial.md
  docs/source/guide/cdr-5-theory.md
  docs/source/guide/guide.md
  docs/source/guide/shadows-1-intro.md
  docs/source/guide/shadows-5-theory.md
  docs/source/guide/shadows.md
  docs/source/img/classicalshadow_workflow.png
  docs/source/img/rshadows_workflow.png
  docs/source/img/shadows_noisy_channel.png
  docs/source/img/shadows_workflow.png
  docs/source/refs.bib
Labels: classical-shadows

#2026 Add missing section in classical shadows example
  docs/source/examples/shadows_tutorial.md
Labels: classical-shadows

#2008 Documentation cleanup
  .github/workflows/build.yml
  CONTRIBUTING.md
  Makefile
  docs/CONTRIBUTING_DOCS.md
  docs/pytest.ini
  docs/source/apidoc.md
  docs/source/conf.py
  docs/source/examples/bqskit.md
  docs/source/examples/braket_mirror_circuit.md
  docs/source/examples/hamiltonians.md
  docs/source/examples/maxcut-demo.md
  docs/source/examples/pec_tutorial.md
  docs/source/examples/template.md
  docs/source/examples/zne-braket-ionq.md
  docs/source/img/vqe-cirq-pauli-sum-mitigation-plot.png
  docs/source/refs.bib
  mitiq/cdr/data_regression.py
  mitiq/ddd/rules/rules.py
  mitiq/executor/executor.py
  mitiq/shadows/shadows_utils.py
Labels: documentation
