Repository unitaryfoundation/mitiq, pull requests merged in 2023-08, with the labels that each got.

#1947 Use `pytest` before `make test` in dev docs
  CONTRIBUTING.md
Labels: documentation

#1939 [Classical Shadow 1] Minor Updates to the Quantum Processing Functions to adjust for robust shadow.
  mitiq/shadows/quantum_processing.py
  mitiq/shadows/test/test_quantum_processing.py
Labels: classical-shadows

#1940 [Robust Shadow 2]Add few functions for robust shadow estimation
  mitiq/shadows/shadows_utils.py
  mitiq/shadows/test/test_shadows_utils.py
Labels: classical-shadows

#1961 Prep for ReadTheDocs deprecation
  dev_requirements.txt
Labels: documentation

#1942 [Robust Shadows 3]Patch/classical post-processing
  mitiq/shadows/classical_postprocessing.py
  mitiq/shadows/test/test_classical_postprocessing.py
Labels: classical-shadows

#1866 Improve naming of `noise_scaling_converter`
  AUTHORS
  mitiq/ddd/insertion.py
  mitiq/interface/__init__.py
  mitiq/interface/conversions.py
  mitiq/pt/pt.py
  mitiq/tests/test_conversions.py
  mitiq/zne/scaling/folding.py
  mitiq/zne/scaling/layer_scaling.py
  mitiq/zne/scaling/parameter.py
Labels: tech debt, interface-and-conversions

#1962 Ensure BQSKit example runs
  dev_requirements.txt
  docs/source/examples/bqskit.md
Labels: documentation, tech debt, interface-and-conversions

#1921 [Classical Shadows 4] Main function
  docs/source/apidoc.md
  mitiq/shadows/__init__.py
  mitiq/shadows/shadows.py
  mitiq/shadows/test/test_shadows.py
Labels: classical-shadows
