Repository unitaryfoundation/mitiq, pull requests merged in 2023-07, with the labels that each got.

#1913 Update SQMS/GGI Summer School URL
  CHANGELOG.md
  docs/source/examples/ggi_summer_school_solved.md
  docs/source/examples/ggi_summer_school_unsolved.md
Labels: documentation

#1912 Update broken URLs
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/source/examples/ggi_summer_school_solved.md
  docs/source/examples/ggi_summer_school_unsolved.md
Labels: documentation

#1906 [Classical Shadows] quantum processing and test
  docs/source/apidoc.md
  mitiq/shadows/quantum_processing.py
  mitiq/shadows/test/test_quantum_processing.py
Labels: classical-shadows

#1917 loosen remaining core dependency versions
  requirements.txt
Labels: tech debt, non-quantum

#1825 Clean up types
  docs/source/examples/molecular_hydrogen.md
  docs/source/examples/molecular_hydrogen_pennylane.md
  mitiq/benchmarks/randomized_benchmarking.py
  mitiq/cdr/clifford_training_data.py
  mitiq/ddd/tests/test_ddd.py
  mitiq/executor/executor.py
  mitiq/interface/conversions.py
  mitiq/interface/mitiq_cirq/cirq_utils.py
  mitiq/interface/mitiq_pyquil/compiler.py
  mitiq/interface/mitiq_qiskit/qiskit_utils.py
  mitiq/observable/observable.py
  mitiq/observable/pauli.py
  mitiq/pec/channels.py
  mitiq/pec/pec.py
  mitiq/pec/sampling.py
  mitiq/pec/tests/test_pec.py
  mitiq/pec/types/tests/test_types.py
  mitiq/pec/types/types.py
  mitiq/pt/tests/test_pt.py
  mitiq/qse/tests/test_qse.py
  mitiq/typing.py
  mitiq/zne/inference.py
  mitiq/zne/tests/test_inference.py
  mitiq/zne/tests/test_zne.py
Labels: tech debt

#1907 [Classical Shadows 1] utils for shadows and unit test
  docs/source/apidoc.md
  mitiq/shadows/shadows_utils.py
  mitiq/shadows/test/test_shadows_utils.py
Labels: classical-shadows

#1908 [Classical Shadows 1] classical postprocessing
  docs/source/apidoc.md
  mitiq/shadows/classical_postprocessing.py
  mitiq/shadows/test/test_classical_postprocessing.py
Labels: classical-shadows

#1938 Add QSE to API-doc
  docs/source/apidoc.md
  mitiq/qse/qse.py
Labels: documentation, qse
