Repository unitaryfoundation/mitiq, pull requests merged in 2024-01, with the labels that each got.

#2146 Update PyPI classifiers
  setup.py
Labels: infrastructure, tech debt

#2128 Compute super operator gate by gate in find_optimal_representation
  mitiq/pec/representations/optimal.py
Labels: pec

#2152 Refactor classical postprocessing in shadows module
  docs/source/examples/rshadows_tutorial.md
  docs/source/examples/shadows_tutorial.md
  docs/source/guide/shadows-1-intro.md
  mitiq/shadows/classical_postprocessing.py
  mitiq/shadows/shadows.py
  mitiq/shadows/shadows_utils.py
  mitiq/shadows/test/test_classical_postprocessing.py
  mitiq/shadows/test/test_shadows.py
  mitiq/shadows/test/test_shadows_utils.py
Labels: shadows
